[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
heroku = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"

[packages]
django = "*"
gunicorn = "*"
python-dateutil = "*"
python-decouple = "*"

[requires]
python_version = "3.9"
