name: Instalando os requisitos do Projeto Django

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install  pipenv
        pipenv sync -d
    - name: Verificar a qualidade do código com Flake8
      run: |
        pipenv run flake8
    - name: Relatório Coverage
      env:
        CODECOV_TOKEN: 'b78d6f8f-8114-4a30-852a-859e55467850'
      run: |
        pipenv run codecov